*{
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

.container{
  width: 600px;
  padding: 5px;
  margin: 25px auto;
  border: 5px solid black;
  box-sizing: border-box;
}

header{
  padding: 40px;
  background-color: blueviolet;
}


.sidebar{
  float: left;
  box-sizing: border-box;
  width: 40%;
}


aside{
  padding: 60px;
  background-color: royalblue;
  box-sizing: border-box;
}

nav{
  padding: 102px;
  background-color: red;
 
}

main{
  padding: 171.5px;
  background-color: chocolate;
  float: right;
  width: 60%;
  box-sizing: border-box;
 
}

footer{
  padding: 20px;
  background-color: dimgray;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}